# Ignorar archivos y directorios generados por Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos de registro de NPM
*.log

# Ignorar archivos de configuración locales de npm
.npmrc

# Ignorar el archivo de bloqueo de yarn
yarn.lock

# Ignorar el archivo de bloqueo de package-lock
package-lock.json

# Ignorar archivos temporales
*.tmp

# Ignorar archivos de compilación
/dist

# Ignorar directorio .cache de yarn
.cache/
